[all:vars]
team_number=1
total_teams=4
route53_ip=172.16.3.1

[windows]
tintin ansible_host=10.1.1.10
holmes ansible_host=10.1.1.11

[windows10]
mulder ansible_host=10.1.1.14
clousaeu ansible_host=10.1.1.15

[windows:vars]
ansible_connection=winrm
ansible_user=Administrator
ansible_password=Change.me!
ansible_port=5985

[windows10:vars]
ansible_connection=winrm
ansible_user=User
ansible_password=Change.me!
ansible_port=5985

[linux]
spade ansible_host=spade.team1.wildeagle.net
mason ansible_host=mason.team1.wildeagle.net
poirot ansible_host=poirot.team1.wildeagle.net
brown ansible_host=brown.team1.wildeagle.net
cao ansible_host=cao.team1.wildeagle.net
hammer ansible_host=hammer.team1.wildeagle.net
dupin ansible_host=dupin.team1.wildeagle.net
marple ansible_host=10.1.1.12
tracy ansible_host=10.1.1.13

[all:vars]
common_password=Change.me!

[palo-alto:children]
gently

[windows-clients]
mulder ansible_host=10.1.1.14
clousaeu ansible_host=10.1.1.15
holmes ansible_host=10.1.1.11

[gluuContainer]
gluuContainer ansible_host=127.0.0.1 ansible_port=60022 ansible_ssh_transfer_method=scp ansible_ssh_common_args='-o ProxyJump=root@spade.team1.wildeagle.net'

[gently]
172.16.2.11

[gateway]
172.16.1.1
